S3method(mdfa,data.frame)
S3method(mdfa,default)
S3method(mdfa,formula)
S3method(mdfa,matrix)
S3method(mdfa,spectral_estimate)
S3method(mdfa,xts)
S3method(plot,mdfa)
S3method(plot,mdfa_coef)
S3method(print,mdfa)
S3method(print,mdfa_coef)
export(coef.mdfa)
export(mdfa)
export(mdfa_model_matrix)
export(plot.predict_mdfa)
export(predict.mdfa)
export(print.predict_mdfa)
export(summary.mdfa)
export(summary.predict_mdfa)
import(ggplot2)
import(reshape2)
import(xts)
import(zoo)
